.DayCard {
  width: 100%;
  min-width: 12%;
  transition: all 1s ease;
}

.DayCard:hover {
  min-width: 15%;
  background-color: #f8f8f8;
  transition: background-color 1s ease-out, min-width 1s ease-out;
}

.ChildInnerTable {
  position: relative;
}
