.Card {
  min-width: 45px;
}

.SideTabHeader {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: white;
  top: 79px;
  z-index: 1000;
}
