.EmptyTableWrapper {
  position: relative;
}

.CurrentTime {
  color: #f56157;
  border: none;
  position: absolute;
  z-index: 90;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.CurrentTimeLine {
  border-bottom: #f56157 1px solid;
  height: 1px;
  width: 100px;
  right: 0;
  background-color: transparent;

}


.EmptyTable {
  box-sizing: border-box;
  height: 60px;
  border-top: 1px solid #cccccc;
  color: white;
  text-align: center;
  z-index: 1;
}

.EmptyTable:hover {
  box-shadow: inset 0 0 10px #04287f;
  border-radius: 9px;
}
