.DayCard {
  width: 100%;
  min-width: 12%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.DayCard:hover {
  min-width: 15%;
  background-color: #f8f8f8;
  -webkit-transition: background-color 1s ease-out, min-width 1s ease-out;
  transition: background-color 1s ease-out, min-width 1s ease-out;
}

.DayHeader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 40px;
  background-color: white;
  z-index: 1000;
}

.DayOfTheWeek {
  margin: 10px, 10px, 0, 10px;
  color: #bfbfc0;
}

.Day {
  color: #443a3c;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
}

.ChildInnerTable {
  position: relative;
}
