.OutStructure {
  height: 100%;
  width: 100%;
  position: relative;
}

.HeaderWrapper {
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.FirstRow{
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.SecondRow {
  display: flex;
  justify-content: space-between;
}

.ControlsDisplay {
  position: relative;
  display: flex;
  padding: 10px;
}

button {
  background-color: #f8f8f8;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 2px;
}

.AgendaInnerStructure {
  display: flex;
  flex-direction: row;
  width: auto;
}
