.ViewModeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    padding: 10px;
}

.ViewModeItem {
    padding: 5px;
    font-size: 14px;
    width: 70px;
    background-color: #e5e2e2;
    color: #443a3c;
    font-weight: bold;
    cursor: pointer;
}

.ViewModeItem::selection {
    background-color: #f56157;
}