.DateWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.Day {
    display: inline-block;
    color: #443a3c;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    margin: 0;
}