.CurrentTimeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.CurrentTime {
    color: #f56157;
    border: none;
    position: relative;
    z-index: 90;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.CurrentTimeLine {
    border-bottom: #f56157 1px solid;
    height: 1px;
    width: 100px;
    background-color: transparent;

}